.venv/
__pycache__/
.env
.streamlit/secrets.toml
.ipynb_checkpoints/
models/poster_cache.json
system_png

# Python environment
.venv/
__pycache__/
*.pyc

# Local Streamlit secrets (Contains your private API Keys)
.streamlit/secrets.toml

# Persistent User Database
data/user_interactions.db

# Large Binary Model Artifacts (Too large for GitHub)
models/*.pkl
models/*.json